version: "3"
services:
  server:
    container_name: server
    image: node:alpine
    working_dir: /code
    depends_on:
      - postgres
    ports:
      - "3000:3000" # Expose API port
      - "9229:9229" # Expose Node debug port (disable in prod)
    networks:
      - postgres
      - api
    command: sh -c "npm install && npm run start"
    volumes:
      - ./server:/code

  client:
    container_name: client
    image: node:alpine
    working_dir: /code
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./client:/code
    networks:
      - api

  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - $HOME/data/postgres:/data/postgres
    env_file:
      - docker.env
    networks:
      - postgres

  pgadmin:
    links:
      - postgres:postgres
    container_name: pgadmin
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    volumes:
      - $HOME/data/pgadmin:/root/.pgadmin
    env_file:
      - docker.env
    networks:
      - postgres

  test_postgres:
    container_name: test_postgres
    image: postgres:latest
    ports:
      - "5433:5432"
    volumes:
      - $HOME/data/test_postgres:/data/postgres
    # env_file:
    #   - test.env # <-- separate environment file for test DB
    environment:
      - POSTGRES_USER=ad@min
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=test
    networks:
      - test_postgres

networks:
  api:
    driver: bridge
  postgres:
    driver: bridge
  test_postgres:
    driver: bridge
